.about-us {
    background-color: #f9f9f9;
    padding: 4rem 2rem;
    /*text-align: center;*/
}

.about-us h2 {
    color: #ff6f61;
    margin-bottom: 2rem;
}


.about-text {
    line-height: 1.8;
    font-size: 1rem;
    color: #555;
    margin-top: 2rem;
}

.about-text p {
    margin-bottom: 1rem;
    max-width: 800px;
    /*margin-left: auto;*/
    margin-right: auto;
    align-content: baseline;
}
