.home {
    text-align: justify;
    padding: 2rem;
    background-color: #f9f9f9; /* Light grey background */
    width: 100%; /* Full width */
}

.home h1 {
    font-size: 2.5rem;
    color: #ff6f61; /* Warm coral */
}

.home p {
    font-size: 1.2rem;
    color: #333; /* Dark text */
}

/* Responsive Styles */
@media (max-width: 768px) {
    .home h1 {
        font-size: 2rem;
    }

    .home p {
        font-size: 1rem;
    }
}
